/* Configuration of menu width */

/**
Stylesheet for SooperFish by www.SooperThemes.com
Author: Jurriaan Roelofs
*/

html body ul#nav ul
,html body ul#nav ul li {
width:200px;
}
html body ul#nav ul ul {
margin:0 0 0 200px;
}

/* Theming the menu */

ul#nav {
float:left;
font-size:120%;
border:solid #aeff5e;
border-width:0 5px 0 5px;
}

ul#nav ul {
border-bottom:5px solid #aeff5e;
background:#222;
}

ul#nav li a,
ul#nav li span {
padding:20px 30px;
font-family:"Lucida Sans","Century Gothic","Franklin Gothic Book","Franklin Gothic",helvetica,arial,verdana,sans;
text-decoration:none;
background:#222;
color:#fff;
}

ul#nav ul li a,
ul#nav ul li span {
padding:10px 15px;
}

ul#nav li a:hover
,ul#nav li a:focus
,ul#nav li span:hover
,ul#nav li span:focus {
color:#aeff5e;
}

ul#nav div.sf-arrow {
top:28px;
right:6px;
background-image:url(../images/arrows-white.png);
}

ul#nav ul div.sf-arrow {
right:12px;
top:16px;
}